* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
#topheader {
  width: 100%;
  padding: 0 2%;
  height: 100px;
  background: rgb(255, 208, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
}
